/*               D'abord un css reset                    */

html, body, p, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

button, input, select {
    margin: 0
}

html {
    box-sizing: border-box
}

*, *::before, *::after {
    box-sizing: inherit
}

img, video {
    height: auto;
    max-width: 100%
}

iframe {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

/*                  Fin du css reset                             */


/* mon flex prenant l'écran */
.All_the_screen {
    display: flex;
}
/* Mon coté gauche de l'écran  */
.Left_side {
    background-color: rgb(14, 9, 9);
    width: 70%;
}

.Right_side {
    background-color: black;
    display: block;
    width: 30%;
}

Img {
    width: 100%;
    height: auto;
}

p, pre, ol {
    color: #fff;   
}

.white_text {
    color: #fff;
}
label,input,textarea {
    color: #fff;
}

.green_text {
    color: rgb(10, 177, 10);
}
input, textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid rgb(4, 255, 4);
    background-color: #000;
  }
  label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }

  #navigation li a {
   width: 200px;
    display: inline ;
    background: black;
    color: rgb(140, 140, 140) ;
    font: 1em "Trebuchet MS",Arial,sans-serif ;
    line-height: 1em ;
    text-align: center ;
    text-decoration: none ;
    padding: 4px
}
    #navigation li {
        display: inline;
      } 
 