/*               D'abord un css reset                    */

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

ul {
    list-style: none
}

button, input, select {
    margin: 0
}

html {
    box-sizing: border-box
}

*, *::before, *::after {
    box-sizing: inherit
}

img, video {
    height: auto;
    max-width: 100%
}

iframe {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

/*                  Fin du css reset                             */

/* mon flex prenant l'écran */
.All_the_screen {
    display: flex;
}
/* Mon coté gauche de l'écran  */
.Left_side {
    background-color: rgb(14, 9, 9);
    /* background-image: u
    rl("VI-code.png"); */
    /* background-image: url("code_png-grad1.png"); */
    /* display: block; */
    width: 100%;
    /* opacity: 0.15;  */
    /* background-repeat: no-repeat; */
    /* height: auto; */
}

.Right_side {
    background-color: darkgray;
    display: block;
    width: 30%;
}

.Img_right_side {
    width: 100%;
    height: auto;
}

p {
    color: #fff;  
}
pre {
    font-size: 20px;
    background-color: grey);
    color: white;
}
.text_center {
    text-align: center;
}

.white_text {
    color: #fff;
}
.green_text {
    color: green;
}
