html,
body {
    background-color: grey;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
        font-size: 16px;
}

#liste
{
    min-height: 40px;
    border: 2px dashed #999;
}
#Main
{
    padding: 5%;
   background-color: #aaa; 
}
h1
{
    color: indianred;
    font-size: 40px; 
}
