html,
body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
        font-size: 20px;
}

canvas{
    max-height: 300px;
    max-width: 300px;
    border: 2px dashed black;
}